*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 200px;
    height: 300px;
    float: left;
    margin-right: 30px;
    margin-bottom: 50px;
    box-shadow: 2px 3px 4px -2px gray;
}
.book-details{
    width: 90%;
    padding: 50px;
    margin: 20px 50px 0 60px;
    background-color:  #ccf2ff;
   
}
#bookTitle{
    margin-top: 50px;
    margin-bottom: 10px;
}
.book-content{
    clear: left;
    margin: 7rem;
    letter-spacing: 1px;
    word-spacing: 10px;
    
}

#bookAuthor{
    color:gray;
}
.buttons{
    width: 20vw;
    height: 8vh;
    border-radius: 50px;
    margin-top: 2rem;
    display: flex;
}

.box {
    height: 1.5rem;
    width: 5rem;
    margin-right: 1rem;
    border-radius: 2rem; 
    border: none;
    outline: none;
    background-color:rgb(242, 243, 253) ;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -7px -7px 20px 0px #fff9,
                 -4px -4px 5px 0px #fff9,
                  7px 7px 20px 0px #0002,
                  4px 4px 5px 0px #0001,
                  inset 0px 0px 0px 0px #fff9,
                  inset 0px 0px 0px 0px #0001,
                  inset 0px 0px 0px 0px #fff9,
                  inset 0px 0px 0px 0px #0001;
    transition : box-shadow 0.6 cubic-bezier(0.79,.21,.06,.81);
    font-size: 30px;
    text-decoration: none;   
}

.box i{
    /* margin: .5rem; */
    color:rgb(0, 191, 191) ; 
    font-size: medium;
}

.box:active{
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2),
                inset -4px -4px 6px 0 rgba(255, 255, 255, .3),
                inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
                  
}
.box:active i{
    color: red;
} 
